# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/_front-end/node_modules
/_front-end/.pnp
_front-end.pnp.*
_front-end.yarn/*
/_front-end!.yarn/patches
/_front-end!.yarn/plugins
/_front-end!.yarn/releases
/_front-end!.yarn/versions

# testing
/coverage

# next.js
/_front-end/.next/
/_front-end/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
